@import "../../../styles/mixin.scss";

.up-button.MuiSvgIcon-root {
  background-color: #333;
  border-radius: 50px;
  padding: 6px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
  font-size: 32px;
  z-index: 2;

  @include tablet-vertical {
    width: 34px;
    height: 34px;
    background-color: #333;
  }

  @include moblie {
    width: 34px;
    height: 34px;
    background-color: #333;
  }
}
