@import "../../styles/mixin.scss";

.progress {
  margin: auto;
}

.Community-list-box {
  display: flex;
  flex-direction: column;
  border-bottom: #ffb400 1px solid;

  .content-box {
    width: 100%;
    color: #858585;
    display: flex;
    flex-direction: column;
    border-bottom: rgba(0, 0, 0, 0.1) solid 1px;
    box-sizing: border-box;
    padding: 16px 10px;
    background-color: #fff;
    flex-shrink: 1;

    @include moblie {
      padding: 16px 14px;
    }

    &:nth-last-child(1) {
      border: none;
    }

    .flex-box {
      display: flex;
      justify-content: space-between;
    }

    .top {
      font-size: 14px;
      display: flex;
      align-items: center;
      justify-content: flex-start;

      .user {
        display: flex;
        align-items: center;

        span {
          margin-left: 5px;
          margin-right: 3px;
        }
        .user-img {
          width: 20px;
          height: 20px;
          border-radius: 50px;
          object-fit: cover;
        }
      }

      .time {
        margin-left: 3px;
      }
    }

    .title {
      display: inline-block;
      color: #111827;
      font-size: 16px;
      font-weight: 700;
      margin: 10px 0;
      height: 26px;
      line-height: 26px;
    }

    .bottom {
      .content {
        width: 70%;
        max-width: 500px;
        height: 22px;
        font-size: small;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        line-height: 22px;
      }

      .tags {
        width: 70%;
        display: flex;
        flex-wrap: wrap;
        max-height: 22px;
        overflow: hidden;

        .tag {
          box-sizing: border-box;
          background-color: rgba(255, 180, 0, 0.3);
          margin-right: 6px;
          padding: 4px 9px;
          border-radius: 100px;
          height: 22px;

          display: flex;
          flex-wrap: wrap;
          overflow: hidden;

          span {
            font-weight: 600;
            font-size: 12px;
            color: #333;
            height: min-content;
          }

          &:hover {
            background-color: rgb(255, 180, 0, 0.7);
          }
        }
      }

      .post-card-footer {
        font-size: 12px;
        display: flex;
        justify-content: flex-end;

        .MuiSvgIcon-root {
          margin-left: 12px;
        }

        span {
          margin-left: 2px;
          line-height: 14px;
        }
      }
    }
  }
  &.fixed {
    border-color: rgba(0, 0, 0, 0.1);

    .content-box {
      background-color: rgba(255, 179, 0, 0.1);

      .notice {
        box-sizing: border-box;
        margin-right: 6px;
        padding: 4px 9px;
        background-color: #fff;
        border: 1px solid rgba(235, 11, 11);
        border-radius: 100px;
        height: 22px;
        cursor: default;

        display: flex;
        flex-wrap: wrap;
        overflow: hidden;

        span {
          font-weight: 600;
          font-size: 12px;
          color: rgba(235, 11, 11);
          height: min-content;
        }
      }
    }
  }
}
