@import "../../styles/mixin.scss";

.main-container {
  display: flex;
  flex-direction: column;
}
.banner-container {
  display: flex;
  justify-content: center;
  background-color: black;
}
.best-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #282828;
}
.child-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: #202020;
}
.review-container {
  display: flex;
  justify-content: center;
  background: #282828;
}
.promotion-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #202020;
}
.preferred-region-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: #282828;
}
@include desktop {
  .best-container {
    height: 100%;
    padding: 80px 0;
  }
  .child-container {
    height: 100%;
    padding: 80px 0;
  }
  .review-container {
    height: 100%;
    padding: 80px 0;
  }
  .promotion-container {
    height: 100%;
    padding: 80px 0;
  }
  .preferred-region-container {
    height: 100%;
    padding: 80px 0;
    padding-bottom: 240px;
  }
}
@include laptop {
  .best-container {
    height: 100%;
    padding: 80px 0;
  }
  .child-container {
    height: 100%;
    padding: 80px 0;
  }
  .review-container {
    height: 100%;
    padding: 80px 0;
  }
  .promotion-container {
    height: 100%;
    padding: 80px 0;
  }
  .preferred-region-container {
    height: 100%;
    padding: 80px 0;
    padding-bottom: 240px;
  }
}

@include tablet-horizontal {
  .best-container {
    height: 100%;
    padding: 60px 0;
  }
  .child-container {
    height: 100%;
    padding: 60px 0;
  }
  .review-container {
    height: 100%;
    padding: 60px 0;
  }
  .promotion-container {
    height: 100%;
    padding: 60px 0;
  }
  .preferred-region-container {
    height: 100%;
    padding: 60px 0;
    padding-bottom: 240px;
  }
}

@include tablet-vertical {
  .banner-container {
    background-color: #282828;
  }
  .best-container {
    height: 100%;
    padding: 50px 0;
  }
  .child-container {
    height: 100%;
    padding: 50px 0;
  }
  .review-container {
    height: 100%;
    padding: 50px 0;
  }
  .promotion-container {
    height: 100%;
    padding: 50px 0;
  }
  .preferred-region-container {
    height: 100%;
    padding: 50px 0;
    padding-bottom: 220px;
  }
}

@include moblie {
  .banner-container {
    background-color: #282828;
  }
  .best-container {
    height: 100%;
    padding: 40px 0;
  }
  .child-container {
    height: 100%;
    padding: 40px 0;
  }
  .review-container {
    height: 100%;
    padding: 40px 0;
  }
  .promotion-container {
    height: 100%;
    padding: 40px 0;
  }
  .preferred-region-container {
    height: 100%;
    padding: 40px 0;
    padding-bottom: 200px;
  }
}
