@import "../../styles/mixin.scss";

.Community-detail.page-layout {
  font-family: "Noto Sans KR";
  width: 100%;
  box-sizing: border-box;
  margin: 50px 0 100px;
  display: flex;
  justify-content: space-between;

  @include tablet-vertical {
    margin-top: 30px;
  }

  @include moblie {
    margin-top: 0;

    .board-second-header {
      display: none;
    }

    .comment-top {
      padding: 0 20px;
    }
  }

  .Community-left-container {
    flex-grow: 1;
  }

  .body {
    display: flex;
    flex-direction: column;

    .back-btn {
      width: 60px;
      height: 30px;
      font-family: "Nanum Gothic", "Noto Sans KR";
      margin: 10px 20px;
      align-self: flex-end;
      background-color: #fff;
      border: 1px solid rgb(0, 0, 0, 0.3);
      border-radius: 10px;
    }
  }
}
