.comment-box {
  display: flex;
  border-bottom: 1px solid #6b72804d;
  padding: 15px 20px;

  &.my {
    background-color: rgb(255, 180, 0, 0.1);
  }

  .user-profile-img {
    flex-shrink: 0;
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
    margin-top: 2px;
    margin-right: 12px;
  }

  .right-box {
    flex-grow: 1;
  }

  .top {
    display: flex;
    justify-content: space-between;

    .user-id {
      font-size: 14px;
      font-weight: 500;
      line-height: 20px;
      color: #333;
    }

    .time {
      font-size: 12px;
      line-height: 16px;
      color: #333;
    }

    .buttons {
      button {
        margin-left: 4px;
        font-size: 12px;
        font-family: "Noto Sans KR";
        background: none;
        border: none;
        cursor: pointer;
        padding: 0;
        color: #bcbcbc;
        min-width: 32px;

        &:hover {
          color: #797979;
        }
      }

      &.editing {
        button.edit {
          color: #ffb300;

          &:hover {
            font-weight: 500;
            color: #ffb400;
          }
        }
      }
    }
  }

  .content {
    display: flex;
    width: 100%;
    position: relative;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    color: #374151;
    padding: 2px 0;

    .close {
      display: -webkit-box;
      -webkit-line-clamp: 10;
      -webkit-box-orient: vertical;
      overflow: hidden;
      width: fit-content;
    }

    .see-more-btn {
      color: #bcbcbc;
      display: flex;
      align-items: flex-end;
      position: absolute;
      top: 0;
      right: 0;
      height: calc(100% - 2px);
    }

    .close::before {
      content: "▾더보기";
      float: right;
      display: flex;
      align-items: flex-end;
      height: 100%;
      shape-outside: inset(calc(100% - 10px) 0 0 0);
      color: #fff;
    }
  }

  .content.edit {
    textarea {
      border-radius: 4px;
      flex-grow: 1;
      height: 75px;
      margin-top: 4px;
      padding: 10px;
      font-weight: 400;
      resize: none;
      font-family: "Noto Sans KR";
      outline: none;
      border: #bcbcbc solid 1px;

      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
      &::-webkit-scrollbar {
        display: none;
      }
    }
    textarea:focus {
      border-color: #919191;
    }

    textarea::placeholder {
      color: #bcbcbc;
    }
  }
}
