.comments-list-box {
  display: flex;
  flex-direction: column;

  .more-btn {
    margin: 5px 0;
    background-color: #ffb3000e;

    &:hover {
      background-color: #ffb3000e;
      color: #ff9d00;
    }
  }
}
