@import "../../styles/mixin.scss";

.detail-poster {
  margin-top: 30px;

  .detail-poster-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    img {
      width: 100%;
    }
  }
}

@include moblie {
}
