.selected-play-detail-menu {
  color: #ffb400;
  border-bottom: 2px solid #ffb400;
}

.play-detail-nav {
  display: flex;
  margin-top: 80px;

  div {
    font-size: 20px;
    font-weight: 700;
    padding: 0 10px 15px 10px;
    flex-grow: 1;
    text-align: center;

    &:hover {
      cursor: pointer;
      color: #ffb400;
    }
  }

  .unselected {
    color: #bcbcbc;
    border-bottom: 2px solid #bcbcbc;
  }
}
