// 데스크탑 1701px 이상
$breakpoint-laptop: 1700px; // 노트북 1025px ~ 1700px
$breakpoint-tablet-horizontal: 1024px; // 테블릿 769px ~ 1024px
$breakpoint-tablet-vertical: 768px; // 테블릿 481px ~ 768px
$breakpoint-moblie: 480px; // 휴대폰 480px 이하

$color-point: #ffb400;
