.main-review-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main-title-box-center {
  display: flex;
  justify-content: center;
  margin-bottom: 24px;
  width: 1110px;
}
.main-center-title {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.review-slide-container {
  display: flex;
  align-items: center;
}
.review-box-wrap {
  position: relative;
  display: flex;
  width: 1110px;
  height: 297px;
  overflow: hidden;
  gap: 30px;
}
.review-box-wrap::before{
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 160px;
  z-index: 1;
  background: linear-gradient(to right, rgb(41, 41, 41), transparent);
}
.review-box-wrap::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 160px;
  z-index: 1;
  background: linear-gradient(to left, rgb(41, 41, 41), transparent);
}

.review-box-wrap::before {
  left: 0px;
}
.review-box-wrap::after {
  right: 0px;
}
.review-box {
  display: flex;
  height: 287px;
  width: 525px;
  background-color: #202020;
  border-radius: 15px;
  transition: transform 0.25s ease;
  box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.3);
  .review-show-title {
    font-size: 20px;
    font-weight: 500;
  }
  .review-show-period {
    font-size: 11px;
    font-weight: 400;
  }
  .main-review-title {
    font-size: 16px;
  }
  .main-review-rating {
    font-size: 14px;
  }
  p {
    font-size: 14px;
    color: #eee;
  }
}
.review-img-box {
  width: 186px;
  height: 247px;
  margin: 20px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  transition: transform 0.2s ease-in-out;
  img {
    width: 100%;
    height: 100%;
    transition: transform 0.2s ease-in-out;

    &:hover {
      transform: scale(1.05);
      cursor: pointer;
    }
  }
}
.main-review-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 24px 0;
}
.main-review-header {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.main-review-main {
  width: 280px;
  height: 140px;
  background-color: #2a2a2a;
  border-radius: 10px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
  &:hover {
    cursor: pointer;
    filter: brightness(110%);
  }
}
.main-review-footer {
  display: flex;
  justify-content: flex-end;
  gap: 12px;
  font-size: 14px;
  button:hover {
    cursor: pointer;
    filter: brightness(120%);
  }
}
.review-main-top {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 10px;
  font-weight: 300;
}
.review-main-mid {
  height: 70px;
  margin: 15px 10px 0px 10px;
  font-weight: 200;
}
.review-main-bottom {
  width: 270px;
  display: flex;
  justify-content: flex-end;
  font-weight: 200;
}
