@import "../../styles/mixin.scss";

.main-child-play-period {
  color: #bbbbbb;
  font-size: 0.8vw;
  font-weight: 400;
  margin: 0px;
}

@include desktop {
  .main-child-play-period {
    font-size: 14px;
  }
}

@include tablet-horizontal {
  .main-child-play-period {
    font-size: 1.4vw;
  }
}

@include tablet-vertical {
  .main-child-play-period {
    font-size: 1.8vw;
  }
}
@include moblie {
  .main-child-play-period {
    font-size: 2.5vw;
    margin-bottom: 2px;
  }
}
