@import "../../styles/mixin.scss";
@import "../../App.scss";

.main-review-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.main-title-box-center {
  display: flex;
  justify-content: center;
  margin-bottom: 2%;
}
.main-center-title {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.slide-left-icon {
  color: #bbb;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 140px;
  font-size: 40px !important;
  cursor: pointer;
  z-index: 10;
}
.slide-right-icon {
  color: #bbb;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 140px;
  font-size: 40px !important;
  cursor: pointer;
  z-index: 10;
}
.slide-left-icon:hover,
.slide-right-icon:hover {
  color: white;
  transition: transform 0.1s ease;
}
.review-box-container {
  width: 100%;
  position: relative;
  box-sizing: border-box;
}
.review-box-wrap {
  width: 100%;
  position: relative;
  overflow: hidden;
}
.review-slide-wrapper {
  display: flex;
  width: 700%;
}
.review-box {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  aspect-ratio: 7 / 4;
  margin: 0 0.2%;
  margin-bottom: 20px;
  background-color: #202020;
  border-radius: 15px;
  box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.3);
  transition: transform 0.25s ease;
  .review-show-title {
    font-weight: 500;
  }
  .review-show-period {
    font-weight: 400;
  }
  p {
    color: #eee;
  }
}
.review-img-box {
  display: flex;
  align-items: center;
  height: 85%;
  aspect-ratio: 3 / 4;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  transition: transform 0.2s ease-in-out;
  img {
    width: 100%;
    height: 100%;
    transition: transform 0.2s ease-in-out;

    &:hover {
      transform: scale(1.05);
      cursor: pointer;
    }
  }
}
.main-review-content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 50%;
  height: 100%;
}
.main-review-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 95%;
}
.main-review-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  aspect-ratio: 2 / 1;
  background-color: #2a2a2a;
  border-radius: 10px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
  &:hover {
    cursor: pointer;
    filter: brightness(110%);
  }
}
.main-review-footer {
  display: flex;
  justify-content: flex-end;
  gap: 12px;
  width: 100%;
  button:hover {
    cursor: pointer;
    filter: brightness(120%);
  }
}
.review-main-top {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 90%;
  font-weight: 300;
}
.review-main-mid {
  width: 90%;
  height: 60%;
  font-weight: 200;
}
.review-main-bottom {
  display: flex;
  justify-content: flex-end;
  width: 90%;
  font-weight: 200;
}
.review-footer-btn1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35%;
  aspect-ratio: 5 / 2;
  border-radius: 7px !important;
  background-color: rgb(40, 40, 40);
  cursor: pointer;
}
.review-footer-btn1:hover {
  filter: brightness(120%);
}
.review-footer-btn1-text {
  color: rgb(238, 238, 238);
  font-weight: 500;
}
.review-footer-btn2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35%;
  aspect-ratio: 5 / 2;
  border-radius: 7px !important;
  background-color: rgb(137, 137, 137);
  color: rgb(17, 17, 17);
  font-weight: 500;
  cursor: pointer;
}
.review-footer-btn2:hover {
  filter: brightness(120%);
}

@include desktop {
  .review-box-container {
    max-width: 1700px;
    padding: 0 200px;
    .slide-left-icon {
      left: 140px;
    }
    .slide-right-icon {
      right: 140px;
    }
    .slide-left-icon:hover,
    .slide-right-icon:hover {
      font-size: 44px !important;
    }
    .review-box-wrap::before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      width: 160px;
      z-index: 1;
      background: linear-gradient(to right, rgb(41, 41, 41), transparent);
    }
    .review-box-wrap::after {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      width: 160px;
      z-index: 1;
      background: linear-gradient(to left, rgb(41, 41, 41), transparent);
    }
    .review-box-wrap::before {
      left: 0px;
    }
    .review-box-wrap::after {
      right: 0px;
    }
    .review-show-title {
      font-size: 20px;
      font-weight: 500;
      width: 55%;
      @include ellipsis(1, 20px);
    }
    .review-show-period {
      font-size: 11px;
      font-weight: 400;
    }
    .main-review-title {
      font-size: 16px;
      @include ellipsis(1, 16px);
    }
    .main-review-rating {
      font-size: 14px;
    }
    p {
      font-size: 14px;
      color: #eee;
    }
    .review-footer-btn1-text {
      font-size: 12px;
    }
    .review-footer-btn2 {
      font-size: 12px;
    }
  }
}

@include laptop {
  .review-box-container {
    max-width: 1300px;
    padding: 0 100px;
    .review-show-title {
      font-size: 16px;
      font-weight: 500;
    }
    .slide-left-icon {
      left: 40px;
      font-size: 36px !important;
    }
    .slide-right-icon {
      right: 40px;
      font-size: 36px !important;
    }
    .slide-left-icon:hover,
    .slide-right-icon:hover {
      font-size: 40px !important;
    }
    .review-box-wrap::before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      width: 160px;
      z-index: 1;
      background: linear-gradient(to right, rgb(41, 41, 41), transparent);
    }
    .review-box-wrap::after {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      width: 160px;
      z-index: 1;
      background: linear-gradient(to left, rgb(41, 41, 41), transparent);
    }
    .review-box-wrap::before {
      left: 0px;
    }
    .review-box-wrap::after {
      right: 0px;
    }
    .review-show-title {
      font-size: 13px;
      font-weight: 500;
      width: 50%;
      @include ellipsis(1, 13px);
    }
    .review-show-period {
      font-size: 8px;
      font-weight: 400;
    }
    .main-review-title {
      font-size: 12px;
      @include ellipsis(1, 12px);
    }
    .main-review-rating {
      font-size: 10px;
    }
    p {
      font-size: 11px;
      color: #eee;
    }
    .review-footer-btn1-text {
      font-size: 12px;
    }
    .review-footer-btn2 {
      font-size: 12px;
    }
  }
}

@include tablet-horizontal {
  .review-box-container {
    max-width: 1024px;
    padding: 0 40px;
    .slide-left-icon {
      left: 10px;
      font-size: 32px !important;
    }
    .slide-right-icon {
      right: 10px;
      font-size: 32px !important;
    }
    .slide-left-icon:hover,
    .slide-right-icon:hover {
      font-size: 36px !important;
    }
    .review-slide-wrapper {
      width: 1400%;
    }
    .review-show-title {
      font-size: 2.6vw;
      font-weight: 500;
      width: 50%;
      @include ellipsis(1, 2.6vw);
    }
    .review-show-period {
      font-size: 1.8vw;
      font-weight: 400;
    }
    .main-review-title {
      font-size: 2.4vw;
      @include ellipsis(1, 2.4vw);
    }
    .main-review-rating {
      font-size: 2.0vw;
    }
    p {
      font-size: 2.2vw;
      color: #eee;
    }
    .review-footer-btn1-text {
      font-size: 2vw;
    }
    .review-footer-btn2 {
      font-size: 2vw;
    }
    .review-box {
      margin-bottom: 50px;
      border-radius: 30px;
      box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.3);
    }
  }
}

@include tablet-vertical {
  .review-box-container {
    max-width: 768px;
    padding: 0 40px;
    .slide-left-icon {
      left: 10px;
      font-size: 28px !important;
    }
    .slide-right-icon {
      right: 10px;
      font-size: 28px !important;
    }
    .slide-left-icon:hover,
    .slide-right-icon:hover {
      font-size: 32px !important;
    }
    .review-slide-wrapper {
      width: 1400%;
    }
    .review-show-title {
      font-size: 2.6vw;
      font-weight: 500;
      width: 45%;
      @include ellipsis(1, 2.6vw);
    }
    .review-show-period {
      font-size: 1.8vw;
      font-weight: 400;
    }
    .main-review-title {
      font-size: 2.4vw;
      @include ellipsis(1, 2.4vw);
    }
    .main-review-rating {
      font-size: 2.0vw;
    }
    p {
      font-size: 2.2vw;
      color: #eee;
    }
    .review-footer-btn1-text {
      font-size: 2vw;
    }
    .review-footer-btn2 {
      font-size: 2vw;
    }
    .review-box {
      margin-bottom: 45px;
      border-radius: 25px;
      box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.3);
    }
  }
}

@include moblie {
  .review-box-container {
    max-width: 480px;
    padding: 0 20px;
    .slide-left-icon {
      left: 0px;
      font-size: 18px !important;
    }
    .slide-right-icon {
      right: 0px;
      font-size: 18px !important;
    }
    .slide-left-icon:hover,
    .slide-right-icon:hover {
      font-size: 20px !important;
    }
    .review-slide-wrapper {
      width: 1400%;
    }
    .review-show-title {
      font-size: 2.6vw;
      font-weight: 500;
      width: 43%;
      @include ellipsis(1, 2.6vw);
    }
    .review-show-period {
      font-size: 1.8vw;
      font-weight: 400;
    }
    .main-review-title {
      font-size: 2.4vw;
      @include ellipsis(1, 2.4vw);
    }
    .main-review-rating {
      font-size: 2.0vw;
    }
    p {
      font-size: 2.2vw;
      color: #eee;
    }
    .review-footer-btn1-text {
      font-size: 2vw;
    }
    .review-footer-btn2 {
      font-size: 2vw;
    }
    .review-box {
      margin-bottom: 40px;
      border-radius: 20px;
      box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.3);
    }
  }
}
