@import "../../styles/mixin.scss";

.main-layout-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: auto;
  box-sizing: border-box;
}
.main-title-box {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.main-sub-title {
  color: white;
  font-size: 16px;
  font-weight: 500;
  margin: 0 0 4px 0 !important;
}
.main-title {
  font-size: 30px;
  font-weight: 500;
  color: white;
  margin: 0 0 16px 0 !important;
}
.main-slide-btn-box {
  display: flex;
  align-items: center;
  justify-content: center;
}
.slide-info-box {
  display: flex;
  gap: 4px;
}
.slide-info {
  font-size: 24px;
  color: #aaa;
  user-select: none;
}
.slide-info.active {
  color: #ffb400;
}
.slide-icon {
  color: #bbb;
}
.slide-icon:hover {
  cursor: pointer;
  color: white;
  transform: scale(1.2);
  transition: transform 0.1s ease;
}
.main-play-container {
  width: 100%;
  overflow: hidden;
}
.slide-wrapper {
  display: flex;
  width: 500%;
}
.main-play-box {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  margin: 0 10px;
}
.main-play-box:hover {
  cursor: pointer;
}
.main-play-img-box {
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  position: relative;
  .best-overlay-rank {
    position: absolute;
    top: 87%; // 중앙 정렬
    left: 20%;
    transform: translate(-50%, -50%); // 정확히 중앙에 위치시키기
    color: white; // 텍스트 색상
    font-size: 60px; // 텍스트 크기
    font-weight: 900;
    text-align: center; // 텍스트 가운데 정렬
  }
  img {
    width: 100%;
    aspect-ratio: 3 / 4;
    object-fit: cover;
    transition: transform 0.2s ease-in-out;

    &:hover {
      transform: scale(1.05);
    }
  }
}
.main-play-title {
  color: #eee;
  margin: 12px 0 8px 0;
  font-size: 16px;
  font-weight: 300;
}
.main-play-period {
  color: #bbb;
  font-size: 14px;
  margin: 0px;
}

@include desktop {
  .main-layout-container {
    max-width: 1700px;
    padding: 0 200px;
  }
}

@include laptop {
  .main-layout-container {
    max-width: 1300px;
    padding: 0 100px;
  }
}

@include tablet-horizontal {
  .main-layout-container {
    max-width: 1024px;
    padding: 0 40px;
  }
}

@include tablet-vertical {
  .main-layout-container {
    max-width: 768px;
    padding: 0 40px;
  }
}

@include moblie {
  .main-layout-container {
    max-width: 480px;
    padding: 0 20px;
  }
}
