.region-list-container {
  width: 1110px;
}
.region-list-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  gap: 16px;
  margin: 14px 0 32px 0;
}
.region-list {
  display: flex;
  align-items: center;
  height: 40px;
  padding: 0px 16px;
  font-size: 16px;
  color: white;
  background-color: #282828;
  border: 1px solid #eee;
  border-radius: 100px;
}
.region-list:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: transform 0.1s ease;
}
.region-list.selected {
  transform: scale(1.1);
  background-color: #ffb400;
  font-weight: 700;
  color: black;
  transition:
    transform 0.1s ease,
    background-color 0.2s ease;
}
.main-region-play-container {
  display: flex;
  align-items: flex-end;
  width: 1110px;
}
.main-region-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 20px;
}
.main-region-play-img-box {
  height: 268px;
  width: 202px;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.3);
  img {
    width: 100%;
    height: 100%;
    transition: transform 0.2s ease-in-out;

    &:hover {
      transform: scale(1.05);
    }
  }
}
.main-region-play-title {
  color: #eee;
  margin: 12px 0 8px 0;
  font-size: 16px;
  font-weight: 400;
}
.main-region-play-period {
  color: #00aaff;
  font-size: 14px;
  font-weight: 400;
  margin: 0px;
}
