@import "../../styles/mixin.scss";
@import "../../App.scss";

.main-region-layout-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: auto;
  box-sizing: border-box;
}
.region-list-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 40px;
}
.region-list-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.region-list {
  display: flex;
  align-items: center;
  height: 40px;
  padding: 0px 16px;
  font-size: 16px;
  color: white;
  background-color: #282828;
  border: 1px solid #eee;
  border-radius: 100px;
}
.region-list:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: transform 0.1s ease;
}
.region-list.selected {
  transform: scale(1.1);
  background-color: #ffb400;
  font-weight: 700;
  color: black;
  transition:
    transform 0.1s ease,
    background-color 0.2s ease;
}
.select-region-list {
  width: 70vw;
  height: 40px;
  text-align: center;
  color: #eee !important;
  border: 1px solid #eee;
  border-radius: 100px !important;
}
.select-region-list svg {
  color: #eee;
  font-size: 52px;
}
.main-region-play-container {
  display: flex;
  align-items: flex-end;
  width: 100%;
}
.main-region-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 28px;
}
.main-region-play-box {
  display: flex;
  flex-direction: column;
}
.main-region-play-img-box {
  width: 100%;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.3);
  img {
    width: 100%;
    aspect-ratio: 3 / 4;
    object-fit: cover;
    transition: transform 0.2s ease-in-out;

    &:hover {
      transform: scale(1.05);
    }
  }
}
.main-region-play-title {
  color: #eee;
  margin: 12px 0 8px 0;
  font-size: 16px;
  font-weight: 400;
  @include ellipsis(1, 16px);
}
.main-region-play-period {
  color: #00aaff;
  font-size: 14px;
  font-weight: 400;
  margin: 0px;
}

@include desktop {
  .main-region-layout-container {
    max-width: 1700px;
    padding: 0 200px;
  }
}

@include laptop {
  .main-region-layout-container {
    max-width: 1300px;
    padding: 0 100px;
  }
  .main-region-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 24px;
  }
}

@include tablet-horizontal {
  .main-region-layout-container {
    max-width: 1024px;
    padding: 0 40px;
  }
  .main-region-container {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }
  .main-region-play-title {
    font-size: 14px;
  }
  .main-region-play-period {
    font-size: 12px;
  }
}

@include tablet-vertical {
  .main-region-layout-container {
    max-width: 768px;
    padding: 0 40px;
  }
  .main-region-container {
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
  .region-list {
    font-size: 14px;
  }
  .main-region-play-title {
    font-size: 12px;
  }
  .main-region-play-period {
    font-size: 10px;
  }
}

@include moblie {
  .main-region-layout-container {
    max-width: 480px;
    padding: 0 20px;
  }
  .main-region-container {
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
  .main-region-play-title {
    font-size: 10px;
  }
  .main-region-play-period {
    font-size: 8px;
  }
}
