@import "../../styles/mixin.scss";
@import "../../App.scss";

.main-layout-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}
.main-title-box {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 2.4%;
}
.main-sub-title {
  color: white;
  font-size: 16px;
  font-weight: 500;
  margin: 0 0 4px 0 !important;
}
.main-title {
  font-size: 30px;
  font-weight: 700;
  color: white;
  margin: 0 0 16px 0 !important;
}
.main-slide-btn-box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.slide-info-box {
  display: flex;
  gap: 4px;
}
.slide-info {
  font-size: 24px;
  color: #aaa;
  user-select: none;
}
.slide-info.active {
  color: #ffb400;
}
.slide-icon {
  color: #bbb;
}
.slide-icon:hover {
  cursor: pointer;
  color: white;
  transition: transform 0.1s ease;
}
.main-play-box {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 10px;
}
.main-play-box:hover {
  cursor: pointer;
}
.main-play-img-box {
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  position: relative;
  .best-overlay-rank {
    position: absolute;
    top: 87%; // 중앙 정렬
    left: 20%;
    transform: translate(-50%, -50%); // 정확히 중앙에 위치시키기
    color: white; // 텍스트 색상
    font-size: 60px; // 텍스트 크기
    font-weight: 900;
    text-align: center; // 텍스트 가운데 정렬
  }
  img {
    width: 100%;
    aspect-ratio: 3 / 4;
    object-fit: cover;
    transition: transform 0.2s ease-in-out;

    &:hover {
      transform: scale(1.05);
    }
  }
}
.main-play-title {
  color: #eee;
  margin: 12px 0 8px 0;
  font-size: 0.8vw;
  font-weight: 400;
  @include ellipsis(1, 0.8vw);
}
.main-play-period {
  color: #bbb;
  font-size: 0.8vw;
  margin: 0px;
}

@include desktop {
  .main-layout-container {
    max-width: 1700px;
    padding: 0 200px;
  }
  .main-play-container {
    width: 100%;
    overflow: hidden;
  }
  .slide-wrapper {
    display: flex;
    width: 500%;
  }
  .slide-icon {
    font-size: 30px !important;
  }
  .main-play-title {
    font-size: 16px;
    @include ellipsis(1, 16px);
  }
  .main-play-period {
    font-size: 14px;
  }
}

@include laptop {
  .main-layout-container {
    max-width: 1300px;
    padding: 0 100px;
  }
  .main-play-container {
    width: 100%;
    overflow: hidden;
  }
  .slide-wrapper {
    display: flex;
    width: 500%;
  }
  .slide-icon {
    font-size: 24px !important;
  }
}

@include tablet-horizontal {
  .main-layout-container {
    max-width: 1024px;
    padding: 0 0 0 40px;
  }
  .main-play-container {
    width: 100%;
    overflow-x: auto;
    scrollbar-width: none; /* Firefox용 스크롤바 숨기기 */
    -ms-overflow-style: none; /* IE와 Edge용 스크롤바 숨기기 */
  }
  .main-play-container::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera용 스크롤바 숨기기 */
  }
  .slide-wrapper {
    display: flex;
    width: 390%;
  }
  .slide-icon:hover {
    cursor: pointer;
    color: white;
  }
  .main-play-title {
    font-size: 1.6vw;
    @include ellipsis(1, 1.6vw);
  }
  .main-play-period {
    font-size: 1.4vw;
  }
}

@include tablet-vertical {
  .main-layout-container {
    max-width: 768px;
    padding: 0 0 0 40px;
  }
  .main-play-container {
    width: 100%;
    overflow-x: auto;
    scrollbar-width: none; /* Firefox용 스크롤바 숨기기 */
    -ms-overflow-style: none; /* IE와 Edge용 스크롤바 숨기기 */
  }
  .main-play-container::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera용 스크롤바 숨기기 */
  }
  .main-sub-title {
    font-size: 14px;
  }
  .main-title {
    font-size: 26px;
  }
  .slide-wrapper {
    display: flex;
    width: 500%;
  }
  .main-play-title {
    font-size: 2vw;
    @include ellipsis(1, 2vw);
  }
  .main-play-period {
    font-size: 1.8vw;
  }
}
  
@include moblie {
  .main-layout-container {
    max-width: 480px;
    padding: 0 0 0 20px;
  }
  .main-play-container {
    width: 100%;
    overflow-x: auto;
    scrollbar-width: none; /* Firefox용 스크롤바 숨기기 */
    -ms-overflow-style: none; /* IE와 Edge용 스크롤바 숨기기 */
  }
  .main-play-container::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera용 스크롤바 숨기기 */
  }
  .main-sub-title {
    font-size: 12px;
  }
  .main-title {
    font-size: 20px;
  }
  .slide-wrapper {
    display: flex;
    width: 700%;
  }
  .main-play-title {
    font-size: 3vw;
    @include ellipsis(1, 3vw);
  }
  .main-play-period {
    font-size: 2.5vw;
  }
}
