@import "../../../styles/mixin.scss";

.light-header-container::before {
  content: "";
  position: absolute;
  top: 66.6%;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: rgba(187, 187, 187, 0.3);
}
.light-header-container {
  position: relative;
  display: flex;
  justify-content: center;
  background-color: #fff;
  height: 150px;
  border-bottom: 1.5px solid #ffb400;
  .header-box {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
  }
  .header-icon-box {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  .header-login-btn-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    width: 80px;
    margin-top: 12px;
    cursor: pointer;
  }
  .header-icon {
    color: #404040;
    font-size: 32px !important;
  }
  .header-icon:hover {
    color: #202020;
  }
  .header-icon-text {
    font-size: 14px;
    color: #202020;
  }
  .vertical-box1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    background-color: #fff;
    color: #202020;
    font-size: 50px;
  }
  .logo {
    height: 80px;
    width: 280px;
    margin-top: 8px;
    user-select: none;
  }
  .vertical-box2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    background-color: #fff;
  }
  .header-tab-box {
    display: flex;
  }
  .header-tab {
    width: 112px;
  }
  .header-tab-text1 {
    width: 32px;
    color: #282828;
    font-size: 16px;
    letter-spacing: 1px;
    cursor: pointer;
    transition: transform 0.4s ease-in-out;
  }
  .header-tab-text2 {
    width: 64px;
    color: #282828;
    font-size: 16px;
    letter-spacing: 1px;
    cursor: pointer;
    transition: transform 0.4s ease-in-out;
  }
  .header-tab-text1.active {
    color: #ffb400;
    font-weight: 600;
  }
  .header-tab-text1:hover {
    font-weight: 600;
  }
  .header-tab-text2.active {
    color: #ffb400;
    font-weight: 600;
  }
  .header-tab-text2:hover {
    font-weight: 600;
  }
  .header-search-btn {
    padding-left: 20px;
    background-color: #fff;
    border-left: 1.5px solid rgba(187, 187, 187, 0.3);
    border-right: 1.5px solid rgba(187, 187, 187, 0.3);
    color: rgba(187, 187, 187, 0.5);
    width: 260px;
    height: 36px;
    cursor: pointer;
    transition: transform 0.4s ease-in-out;
  }
  .header-search-btn:hover {
    background-color: rgb(238, 238, 238, 0.5);
    color: rgba(187, 187, 187, 0.7);
  }
  .search-container {
    position: relative;
  }
  .search-icon {
    font-size: 28px !important;
    color: #505050 !important;
    position: absolute;
    right: 15px;
    top: 53%;
    transform: translateY(-50%);
    cursor: pointer;
  }
  .buger-menu {
    color: #404040;
    font-size: 32px !important;
  }
}

@include desktop {
  .light-header-container {
    .header-box {
      max-width: 1700px;
      padding: 0 200px;
    }
  }
}

@include laptop {
  .light-header-container {
    .header-box {
      max-width: 1300px;
      padding: 0 100px;
    }
  }
}

@include tablet-horizontal {
  .light-header-container {
    .header-box {
      max-width: 1024px;
      padding: 0 40px;
    }
  }
}

@include tablet-vertical {
  .light-header-container::before {
    height: 0;
  }
  .light-header-container {
    height: 100px;
    border-bottom: 1.5px solid #ffb400;
    .header-box {
      max-width: 768px;
      padding: 0 40px;
    }
    .logo {
      height: 60px;
      width: 210px;
      margin-top: 0px;
    }
  }
}

@include moblie {
  .light-header-container::before {
    height: 0;
  }
  .light-header-container {
    height: 100px;
    border-bottom: 1.5px solid #ffb400;
    .header-box {
      max-width: 480px;
      padding: 0 20px;
    }
    .logo {
      height: 60px;
      width: 210px;
      margin-top: 0px;
    }
  }
}
