@import "../../styles/mixin.scss";

.member-info-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  height: 780px;
  margin: 10px 0;

  .flex-row {
    display: flex;
    flex-direction: row;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    height: 40px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    padding-bottom: 16px;
    h1 {
      margin: 0;
      font-size: 24px;
    }
  }

  .member-info-profile-box {
    display: flex;
    justify-content: flex-end;
    width: 95%;
    padding: 40px 0;

    .error {
      font-size: 12px;
      color: rgb(255, 0, 0);
      display: flex;
      line-height: 1.5;
      margin-top: 4px;
      svg {
        margin: 3px 2px 0 0;
      }
    }
  }

  .flex-row {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;

    .profile-photo-box {
      display: flex;
      justify-content: center;
      width: 20%;
    }
    .profile-photo {
      width: 112px;
      height: 112px;
      background-color: #d3d3d3;
      border-radius: 50%;
      overflow: hidden;
      position: relative;

      img {
        position: absolute;
        object-fit: cover;
        width: 100%;
        height: 100%;
      }

      input {
        display: none;
      }

      .profile-edit {
        width: 100%;
        height: 100%;
        background-color: #0000006e;
        position: absolute;
        align-items: center;
        display: flex;
        cursor: pointer;

        .icon {
          margin: 0 auto;
        }
      }
    }
  }

  .profile-nickname {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 112px;
    width: 80%;
    background-color: rgba(255, 180, 0, 0.1);
    border-radius: 10px;
    p {
      font-size: 20px;
      font-weight: 500;
    }
  }
  .member-info-box {
    display: flex;
    flex-direction: column;
    width: 95%;
    p {
      font-weight: 600;
    }
    border-top: 0.5px solid rgba(0, 0, 0, 0.3);
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.3);

    .member-nickname-box {
      .textfield * {
        line-height: 1;
      }

      display: flex;
      align-items: center;
      padding: 20px 0;

      .nick-err {
        display: flex;
        align-items: center;
      }
    }
    .sub-title-text {
      width: 100px;
    }
  }

  .member-id-box {
    display: flex;
    align-items: center;
    padding: 20px 0;
  }

  .member-id {
    display: flex;
    align-items: center;
    min-width: 150px;
    height: 40px;
    border-radius: 4px;
  }

  .member-preferred-region-box {
    display: flex;
    padding: 20px 0;
  }
  .member-preferred-region-check-list {
    width: 95%;
  }
  .member-info-btn-box {
    display: flex;
    justify-content: center;
    width: 95%;
    margin: 40px 0 0 50px;
  }
}
@include desktop {
}

@include laptop {
  .member-info-container {
    .flex-row {
      .profile-photo-box {
        width: 25%;
      }
    }

    .profile-nickname {
      width: 75%;
    }
  }
}

@include tablet-horizontal {
  .member-info-container {
    .flex-row {
      .profile-photo-box {
        width: 30%;
      }
    }
    .profile-nickname {
      width: 70%;
      p {
        font-size: 18px;
        font-weight: 500;
      }
    }
  }
}

@include tablet-vertical {
  .member-info-container {
    .flex-row {
      .profile-photo-box {
        width: 30%;
      }
    }

    .profile-nickname {
      flex-direction: column;
      align-items: center;
      width: 70%;
      p {
        font-size: 18px;
        font-weight: 500;
      }
    }
    .header {
      width: 100%;
      h1 {
        font-size: 20px;
      }
    }

    .member-info-profile-box {
      width: 100%;
    }
    .member-info-box {
      width: 100%;
      p {
        font-size: 14px;
        font-weight: 600;
      }
      .sub-title-text {
        width: 80px;
      }
    }
    .member-preferred-region-check-list {
      width: 100%;
    }
    .member-info-btn-box {
      width: 100%;
    }
  }
  .active-layout {
    display: flex;
    align-items: center;
    max-width: 768px;
    padding: 0 40px;
    width: 100%;
    box-sizing: border-box;
  }
  .active-layout2 {
    display: flex;
    max-width: 768px;
    padding: 0 40px;
    width: 100%;
    box-sizing: border-box;
  }
  .active-layout3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 768px;
    padding: 0 40px;
    width: 100%;
    box-sizing: border-box;
  }
}

@include moblie {
  .member-info-container {
    .flex-row {
      .profile-photo-box {
        width: 35%;
      }
    }

    .profile-nickname {
      flex-direction: column;
      align-items: center;
      width: 65%;
      p {
        font-size: 16px;
        font-weight: 500;
      }
    }
    .header {
      width: 100%;
      h1 {
        font-size: 20px;
      }
    }

    .member-info-profile-box {
      width: 100%;
    }
    .member-info-box {
      width: 100%;
      p {
        font-size: 14px;
        font-weight: 600;
      }
      .sub-title-text {
        width: 80px;
      }
    }
    .member-preferred-region-check-list {
      width: 100%;
    }
    .member-info-btn-box {
      width: 100%;
    }
  }
  .active-layout {
    display: flex;
    align-items: center;
    max-width: 480px;
    padding: 0 20px;
    width: 100%;
    box-sizing: border-box;
  }
  .active-layout2 {
    display: flex;
    max-width: 480px;
    padding: 0 20px;
    width: 100%;
    box-sizing: border-box;
  }
  .active-layout3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 480px;
    padding: 0 20px;
    width: 100%;
    box-sizing: border-box;
  }
}
