@import "../../../styles/mixin.scss";

.search-result-tab-container {
  display: flex;
  margin-top: 80px;
  width: 100%;

  .menu {
    flex: 1 1;
    height: 40px;
    line-height: 40px;
    box-sizing: border-box;
    font-size: 16px;
    border: 1px solid #ffd12dcd;
    text-align: center;
    cursor: pointer;
    background-color: #fff;
  }

  .active-tab {
    background-color: #ffb400;
    border-color: #ffb400;
  }

  .dropdown-icon {
    display: none;
  }

  @include moblie {
    flex-direction: column;
    position: relative;
    color: #ffb400;
    border: 1px solid #ffb400;
    border-radius: 23px;
    overflow: hidden;
    margin: 80px auto 0;
    width: calc(100% - (20px * 2));

    .menu {
      border: none;
      font-size: 20px;
      color: #6f6f6f;
      font-weight: 600;
      height: 46px;
      line-height: 46px;
    }

    &.open {
      .menu {
        display: block;
        &:hover {
          background-color: #ffb30015;
        }
      }
      .active-tab {
        display: block;
        background-color: #fff;
        color: #ffb400;
      }
    }

    &.close {
      .menu {
        display: none;
      }
      .active-tab {
        display: block;
        background-color: #fff;
        color: #ffb400;
      }
      .dropdown-icon {
        display: block;
        position: absolute;
        right: 24px;
        top: 14px;
        font-size: 14px;
        cursor: pointer;
      }
    }
  }
}
