.play-search-result-container {
  margin: 40px auto 0;
  width: 100%;

  .play-search-content {
    background-color: #ffffff;
    border-top: 1px solid #ffb400;
    border-bottom: 1px solid #ffb400;
    margin: 20px 0;
    padding: 30px 50px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    a {
      margin-bottom: 20px;
    }
  }

  .no-result {
    margin: 80px auto;
  }
}
