@import "../../../styles/mixin.scss";

.community-search-result-container {
  margin: 40px 0;
  width: 100%;

  .search-header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 10px;
    align-items: center;
    margin-bottom: 20px;

    @include moblie {
      padding: 0 20px;
    }

    .type {
      .MuiFormGroup-root {
        flex-direction: row;
        display: flex;

        .MuiRadio-root {
          padding: 2px;
          margin: 0px 4px 0 8px;
        }

        .MuiFormControlLabel-label {
          font-size: 14px;
        }
      }
    }

    .sort {
      .MuiFormControl-root {
        height: 30px;
        margin: 0;

        .MuiInputBase-root {
          color: #898989;
          font-size: 13px;
          font-weight: 500;
          line-height: 24px;

          &.Mui-focused .MuiOutlinedInput-notchedOutline {
            border-color: rgba(137, 137, 137, 0.5019607843);
          }

          .MuiSelect-select {
            padding: 3px 9px;
            height: 24px;
          }
        }
      }
    }
  }

  .search-content {
    border-top: 1px solid #ffb400;
    margin: 20px 0;

    .loading {
      margin: 200px auto;
    }

    @include laptop {
      column-gap: 36px;
    }

    @include tablet-horizontal {
      column-gap: 40px;
    }

    @include tablet-vertical {
      column-gap: 33px;
    }

    @include moblie {
      column-gap: 20px;
      padding: 0;
    }
  }

  .pagination {
    margin: 40px auto 80px;
  }

  .state {
    width: 100%;
    padding: 40px 0;
    margin: 20px 0 100px;
    display: flex;
    justify-content: center;
    align-items: center;

    &.box {
      height: calc(100vh - 300px);
      background-color: #0000000c;
    }
  }
}
