@import "../../../styles/mixin.scss";

.community-search-result-container {
  margin: 40px 0;
  width: 100%;

  .search-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

    @include moblie {
      padding: 0 20px;
    }

    .title {
      font-size: 20px;
      font-weight: 500;
    }

    .left {
      display: flex;
      align-items: center;
      margin-top: 2px;
    }

    .sort-by {
      width: 120px;
      height: 34px;
      font-size: 14px;
      font-family: "Nanum Gothic", sans-serif;
      text-align: center;
      border: 1px solid rgba(188, 188, 188, 0.7);
    }
  }

  .search-content {
    border-top: 1px solid #ffb400;
    margin: 20px 0;

    .loading {
      margin: 200px auto;
    }

    @include laptop {
      column-gap: 36px;
    }

    @include tablet-horizontal {
      column-gap: 40px;
    }

    @include tablet-vertical {
      column-gap: 33px;
    }

    @include moblie {
      column-gap: 20px;
      padding: 0;
    }
  }

  .search-pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 0 80px;
  }

  .state {
    width: 100%;
    padding: 40px 0;
    margin: 20px 0 60px;
    display: flex;
    justify-content: center;
    align-items: center;

    &.box {
      height: calc(100vh - 300px);
      background-color: #0000000c;
    }
  }
}
