@import "../../styles/mixin.scss";

@include desktop {
  .play-detail-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1500px;
    padding: 25px 100px;
    margin: 50px auto;
    margin-bottom: 100px;
    box-sizing: border-box;
    font-family: "Noto Sans KR", sans-serif;
  }

  .play-detail-main-box {
    margin-top: 30px;
    background-color: #fff;

    .play-detail-info-container {
      background-color: #fff7e6;
      padding: 10px 50px;
      border-radius: 20px;
    }
    .detail-poster-container {
      border-bottom: 2px solid #bcbcbc;
    }
  }

  .goback-container {
    margin: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .get-playInfo-error {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
  }
}

@include laptop {
  .play-detail-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1300px;
    padding: 25px 100px;
    margin: 50px auto;
    margin-bottom: 100px;
    box-sizing: border-box;
    font-family: "Noto Sans KR", sans-serif;
  }

  .play-detail-main-box {
    margin-top: 30px;
    background-color: #fff;

    .play-detail-info-container {
      background-color: #fff7e6;
      padding: 10px 50px;
      border-radius: 20px;
    }
    .detail-poster-container {
      border-bottom: 2px solid #bcbcbc;
    }
  }

  .goback-container {
    margin: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .get-playInfo-error {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
  }
}

@include tablet-horizontal {
  .play-detail-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1024px;
    margin: 50px auto;
    padding: 25px 40px;
    box-sizing: border-box;
    font-family: "Noto Sans KR", sans-serif;
  }

  .play-detail-main-box {
    margin-top: 30px;
    background-color: #fff;

    .play-detail-info-container {
      background-color: #fff7e6;
      padding: 10px 50px;
      border-radius: 20px;
    }
    .detail-poster-container {
      border-bottom: 2px solid #bcbcbc;
    }
  }

  .goback-container {
    margin: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .get-playInfo-error {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@include tablet-vertical {
  .play-detail-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 768px;
    padding: 0 40px;
    box-sizing: border-box;
    font-family: "Noto Sans KR", sans-serif;
  }

  .play-detail-main-box {
    margin-top: 30px;
    background-color: #fff;

    .play-detail-info-container {
      background-color: #fff7e6;
      padding: 10px 50px;
      border-radius: 20px;
    }
    .detail-poster-container {
      border-bottom: 2px solid #bcbcbc;
    }
  }

  .goback-container {
    margin: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .get-playInfo-error {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@include moblie {
  .play-detail-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 480px;
    padding: 0 20px;
    box-sizing: border-box;
    font-family: "Noto Sans KR", sans-serif;
  }

  .play-detail-main-box {
    background-color: #fff;

    .play-detail-info-container {
      background-color: #fff7e6;
      padding: 10px 50px;
      border-radius: 20px;
    }
    .detail-poster-container {
      border-bottom: 2px solid #bcbcbc;
    }
  }

  .goback-container {
    margin: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .get-playInfo-error {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
