@import "../../styles/mixin.scss";

body {
  font-family: "Noto Sans KR", sans-serif;
}

@include desktop {
  .play-list-container {
    display: flex;
    flex-direction: column;
    max-width: 1300px;
    min-width: 1025px;
    margin: 30px auto;
    margin-bottom: 200px;
  }

  .play-list-main {
    @include play-box-flex-wrap;
  }

  .play-no-exsist {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 66px 0;
  }

  .adapted-conditions {
    margin-top: 20px;
  }
}

// 노트북 스타일
@include laptop {
  .play-list-container {
    display: flex;
    flex-direction: column;
    max-width: 1024px;
    min-width: 769px;
    margin: 30px auto;
    margin-bottom: 200px;
    padding: 25px 20px;
  }

  .play-list-main {
    @include play-box-flex-wrap;
    justify-content: space-around;
  }

  .play-no-exsist {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 66px 0;
  }

  .adapted-conditions {
    margin-top: 20px;
  }
}

// 테블릿 (수평) 스타일
@include tablet-horizontal {
  .play-list-container {
    display: flex;
    flex-direction: column;
    max-width: 768px;
    min-width: 481px;
    margin: 30px auto;
    margin-bottom: 200px;
    padding: 25px 20px;
  }

  .play-list-main {
    @include play-box-flex-wrap;
    justify-content: space-around;
  }

  .play-no-exsist {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 66px 0;
  }

  .adapted-conditions {
    margin-top: 20px;
  }
}

// 테블릿 (수직) 스타일
@include tablet-vertical {
  .play-list-container {
    display: flex;
    flex-direction: column;
    max-width: 480px;
    min-width: 10px;
    margin: 20px auto;
    padding: 20px 15px;
  }

  .play-list-main {
    @include play-box-flex-wrap;
  }

  .play-no-exsist {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 66px 0;
  }

  .adapted-conditions {
    margin-top: 20px;
  }
}

// 모바일 스타일
@include moblie {
  .play-list-container {
    display: flex;
    flex-direction: column;
    max-width: 480px;
    min-width: 10px;
    margin: 20px auto;
    padding: 0 15px;
  }

  .play-list-main {
    @include play-box-flex-wrap;
  }

  .play-no-exsist {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;

    h2 {
      font-size: 20px;
    }
  }

  .adapted-conditions {
    margin-top: 20px;
  }
}

.load-more-button-container {
  display: flex;
  justify-content: center;
}
