@import "../../styles/mixin.scss";

body {
  font-family: "Noto Sans KR", sans-serif;
}
@include desktop {
  .play-list-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1500px;
    padding: 25px 100px;
    margin: 30px auto;
    margin-bottom: 200px;
    box-sizing: border-box;
  }

  .play-list-main {
    @include play-box-flex-wrap;
  }

  .play-no-exsist {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 66px 0;
  }

  .adapted-conditions {
    margin-top: 20px;
  }
}

@include laptop {
  .play-list-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1300px;
    margin: 30px auto;
    margin-bottom: 200px;
    padding: 25px 100px;
    box-sizing: border-box;
  }

  .play-list-main {
    @include play-box-flex-wrap;
    justify-content: space-around;
  }

  .play-no-exsist {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 66px 0;
  }

  .adapted-conditions {
    margin-top: 20px;
  }
}

@include tablet-horizontal {
  .play-list-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1024px;
    margin: 30px auto;
    margin-bottom: 200px;
    padding: 25px 40px;
    box-sizing: border-box;
  }

  .play-list-main {
    @include play-box-flex-wrap;
    justify-content: space-around;
  }

  .play-no-exsist {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 66px 0;
  }

  .adapted-conditions {
    margin-top: 20px;
  }
}

@include tablet-vertical {
  .play-list-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 768px;
    margin: 30px auto;
    padding: 20px 40px;
    box-sizing: border-box;
  }

  .play-list-main {
    @include play-box-flex-wrap;
  }

  .play-no-exsist {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 66px 0;
  }

  .adapted-conditions {
    margin-top: 20px;
  }
}

@include moblie {
  .play-list-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 480px;
    margin: 30px auto;
    padding: 0 20px;
    box-sizing: border-box;
  }

  .play-list-main {
    @include play-box-flex-wrap;
  }

  .play-no-exsist {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;

    h2 {
      font-size: 20px;
    }
  }

  .adapted-conditions {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 8px; // spacing의 크기와 맞추기 위해 추가 가능
  }
}

.load-more-button-container {
  display: flex;
  flex-direction: column;

  .load-more-button {
    margin: 5px 0;
    background-color: #ffb3000e;

    &:hover {
      background-color: #ffb3000e;
      color: #ff9d00;
    }
  }
}
