@import "../../App.scss";
@import "../../styles/mixin.scss";

.promotion-page.page-layout {
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 100px;

  .flex-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  a {
    color: inherit;
  }

  .header {
    width: 100%;
    padding: 10px 0;
    margin-bottom: 10px;
    border-bottom: 1px solid rgba(255, 180, 0, 0.8);
    box-sizing: border-box;

    .division > div {
      margin-right: 24px;
      cursor: pointer;
      color: #7f7f7f;

      &.selected {
        color: #ffa200;
        font-weight: 500;
      }
    }

    .buttons {
      position: relative;
      align-items: center;

      .select-box {
        position: relative;
        display: flex;
        align-items: center;
        column-gap: 4px;
        height: 16px;

        img {
          height: 16px;
          object-fit: contain;
        }

        span {
          font-size: 14px;
          height: 19px;
          line-height: 19px;
        }

        .sort {
          position: absolute;
          left: -6px;
          min-width: 62px;
          opacity: 0;
        }
      }

      .type {
        .MuiFormGroup-root {
          flex-direction: row;
          display: flex;

          .MuiRadio-root {
            padding: 2px;
            margin: 0px 4px 0 8px;
          }

          .MuiFormControlLabel-label {
            font-size: 14px;
          }
        }
      }

      button {
        margin-left: 10px;

        .MuiButton-startIcon {
          margin-right: 2px;
        }

        &.MuiButton-outlinedDarkGray:hover {
          border-color: #89898980;
        }
      }

      .create-button-moblie {
        display: none;
      }

      .MuiFormControl-root {
        height: 30px;
        margin: 0;

        .MuiInputBase-root {
          color: #898989;
          font-size: 13px;
          font-weight: 500;
          line-height: 24px;

          &.Mui-focused .MuiOutlinedInput-notchedOutline {
            border-color: rgba(137, 137, 137, 0.5019607843);
          }

          .MuiSelect-select {
            padding: 3px 9px;
            height: 24px;
          }
        }
      }
    }
  }

  @include tablet-vertical {
    max-width: 768px;
    padding: 0;

    .promotion-list-box {
      padding: 0 30px;
    }

    .header {
      padding: 10px 30px;
      margin-bottom: 0;

      .create-button {
        display: none;
      }
    }
  }

  @include moblie {
    max-width: 500px;
    padding: 0;

    .header {
      padding: 10px 20px;
      margin-bottom: 0;
      border-bottom: none;

      .create-button {
        display: none;
      }
    }
  }

  .state {
    width: 100%;
    padding: 40px 0;
    margin: 20px 0 60px;
    display: flex;
    justify-content: center;
    align-items: center;

    &.box {
      height: calc(100vh - 300px);
      background-color: #0000000c;
    }
  }
}

.scroll-ref {
  height: 1px;
}
