@import "../../App.scss";
@import "../../styles/mixin.scss";

.promotion-banner-container,
.promotion-banner-container.skeleton {
  width: 100%;
  height: 600px;
  overflow: hidden;
  border-radius: 15px;
  position: relative;
  margin: 30px 0 60px;
  transition: fadein 1s ease-in-out;

  .bg-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    z-index: -1;

    &.small {
      width: 80%;
      left: 20%;
    }
  }

  .bg-mask {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    -webkit-backdrop-filter: blur(30px);
    backdrop-filter: blur(30px);
    background: rgba(15, 15, 15, 0.4);
  }

  .swiper {
    width: 100%;
    height: 100%;

    .swiper-pagination-horizontal {
      bottom: var(--swiper-pagination-bottom, 18px);
    }

    .swiper-button-prev,
    .swiper-button-next {
      color: rgba(255, 255, 255, 0.3);
      padding: 0 20px;

      &:hover {
        color: rgba(255, 255, 255, 0.8);
      }
    }

    .swiper-button-prev:after,
    .swiper-button-next:after {
      font-size: 50px;
      font-weight: 600;
    }
  }

  .contents-container {
    margin: 50px auto 70px;
    width: 100%;
    max-width: 900px;
    height: calc(100% - (50px + 70px));
    z-index: 2;
    color: #fff;
    display: flex;
    justify-content: space-between;

    .right-box {
      width: 100%;
      max-width: 460px;
      flex: 1 1;
      display: flex;
      flex-direction: column;
      margin-left: 50px;
      padding: 20px 0;
      flex-wrap: wrap;

      .sub-title {
        color: #fff;
        line-height: normal;
      }

      .post-play-title {
        font-size: 48px;
        font-weight: 800;
        margin: 10px 0 50px;
        @include ellipsis(2, 70px);
      }

      .post-title {
        @include ellipsis(1, 20px);
        color: #ffffff;
        margin-bottom: 6px;
      }

      .content {
        margin-top: 15px;
        flex-grow: 1;

        > div {
          color: #fff;
          @include ellipsis(1, 30px);
          font-weight: 300;
        }

        .lable {
          display: inline-block;
          width: 72px;
        }

        .line {
          margin: 0 28px;
        }
      }

      .footer {
        font-size: 36px;
        display: flex;
        align-items: center;
        line-height: normal;
        color: rgba(255, 255, 255, 0.4);

        .MuiSvgIcon-root {
          font-size: 43px;
          padding-top: 4px;
        }

        span {
          margin: 0 40px 0 12px;

          &:last-child {
            margin-right: 0;
          }
        }
      }
    }

    .poster {
      display: block;
      height: 100%;
      max-width: 384px;
      border-radius: 15px;
      overflow: hidden;
      aspect-ratio: 3/4;
      flex-shrink: 0;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  @include laptop {
    height: 460px;

    .swiper {
      .swiper-button-prev,
      .swiper-button-next {
        padding: 0 14px;
      }

      .swiper-button-prev:after,
      .swiper-button-next:after {
        font-size: 36px;
      }
    }

    .contents-container {
      margin: 32px auto 48px;
      max-width: 650px;
      box-sizing: border-box;
      height: calc(100% - (32px + 48px));

      @media (min-width: 1200px) {
        margin: 32px 140px;
        max-width: calc(100% - (140px * 2));
      }

      .right-box {
        padding: 20px 0;

        .sub-title {
          font-size: 14px;
        }

        .post-play-title {
          font-size: 38px;
          @include ellipsis(1, 55px);
        }

        .post-title {
          font-size: 18px;
          font-weight: 500;
        }

        .content {
          font-size: 14px;

          > div {
            @include ellipsis(1, 24px);
          }

          .line {
            margin: 0 20px;
          }
        }

        .footer {
          font-size: 28px;

          .MuiSvgIcon-root {
            font-size: 34px;
          }
        }
      }
    }
  }

  @include tablet-horizontal {
    width: 100%;
    height: auto;
    aspect-ratio: 16/8;

    .swiper {
      .swiper-button-prev,
      .swiper-button-next {
        padding: 0 4px;
      }

      .swiper-button-prev:after,
      .swiper-button-next:after {
        font-size: 30px;
      }
    }

    .contents-container {
      width: 100%;
      margin: 26px auto 40px;
      max-width: calc(100% - (60px * 2));
      height: calc(100% - (26px + 40px));
      position: relative;

      .right-box {
        padding: 10px 0;
        // padding-top: 34px;
        margin-left: 30px;

        .sub-title {
          font-size: 14px;
          // position: absolute;
          // top: 0;
          // left: 2px;
        }

        .post-play-title {
          font-size: 36px;
          font-weight: 700;
          margin-bottom: 30px;
          @include ellipsis(1, 52px);
          // margin: 0 0 28px;
        }

        .post-title {
          font-size: 16px;
          font-weight: 300;
          display: block;
          max-height: none;
          @media (max-width: "860px") {
            flex-grow: 1;
          }
        }

        .content {
          font-size: 14px;

          > div {
            @include ellipsis(1, 24px);
          }

          .line {
            display: none;
          }

          @media (max-width: "860px") {
            display: none;
          }
        }

        .footer {
          font-size: 2.2vw;

          .MuiSvgIcon-root {
            font-size: 2.8vw;
          }

          span {
            margin: 0 30px 0 8px;
          }
        }
      }
    }

    .arrow-left,
    .arrow-right {
      margin: 0 10px;
    }
  }

  @include tablet-vertical {
    width: 100%;
    height: auto;
    aspect-ratio: 16/9;
    margin-top: 0;
    padding: 0;
    border-radius: 0;

    .swiper {
      .swiper-pagination-horizontal {
        bottom: var(--swiper-pagination-bottom, 14px);
      }

      .swiper-button-prev,
      .swiper-button-next {
        display: none;
      }

      .swiper-pagination-bullet {
        width: 6px;
        height: 6px;
      }
    }

    .contents-container {
      width: 100%;
      margin: 26px auto 40px;
      max-width: calc(100% - (30px * 2));
      height: calc(100% - (26px + 40px));
      position: relative;

      .right-box {
        padding: 0;
        margin-left: 30px;

        .sub-title {
          font-size: 12px;
        }

        .post-play-title {
          font-size: 26px;
          font-weight: 700;
          margin: 6px 0 8px;
          @include ellipsis(1, 52px);
        }

        .post-title {
          font-size: 14px;
          font-weight: 300;

          @media (max-width: "650px") {
            flex-grow: 1;
            display: block;
            max-height: none;
          }
        }

        .content {
          font-size: 12px;

          > div {
            @include ellipsis(1, 24px);
          }

          .line {
            display: none;
          }

          @media (max-width: "650px") {
            display: none;
          }
        }

        .footer {
          font-size: 2.2vw;

          .MuiSvgIcon-root {
            font-size: 3vw;
          }

          span {
            margin: 0 20px 0 4px;
          }
        }
      }
    }

    .arrow-left,
    .arrow-right {
      display: none;
    }
  }

  @include moblie {
    // @media (max-width: 500px) { 개발용
    width: 100%;
    height: auto;
    aspect-ratio: 16/9;
    margin-top: 0;
    margin-bottom: 10px;
    border-radius: 0;

    .swiper {
      .swiper-button-prev,
      .swiper-button-next {
        display: none;
      }

      .swiper-pagination-bullet {
        width: 5px;
        height: 5px;
        margin: 0 3px;
      }

      .swiper-pagination-horizontal {
        bottom: var(--swiper-pagination-bottom, 8px);
      }
    }

    .contents-container {
      width: 100%;
      margin: 18px auto 24px;
      max-width: calc(100% - (20px * 2));
      height: calc(100% - (18px + 24px));
      position: relative;

      .right-box {
        padding: 6px 0;
        margin-left: 20px;

        .sub-title {
          font-size: 10px;
        }

        .post-play-title {
          font-size: 20px;
          font-weight: 700;
          margin: 0;
          @include ellipsis(1, 52px);
        }

        .post-title {
          font-size: 14px;
          font-weight: 300;

          @media (max-width: "650px") {
            flex-grow: 1;
            display: block;
            max-height: none;
          }
        }

        .content {
          font-size: 12px;

          > div {
            @include ellipsis(1, 24px);
          }

          .line {
            display: none;
          }

          @media (max-width: "650px") {
            display: none;
          }
        }

        .footer {
          font-size: 10px;

          .MuiSvgIcon-root {
            font-size: 12px;
            padding-top: 1.7px;
          }

          span {
            margin: 0 20px 0 4px;
          }
        }
      }
    }

    .arrow-left,
    .arrow-right {
      display: none;
    }
  }

  a {
    color: inherit;
  }
}
