@import "../../styles/mixin.scss";

.promotion-list-box {
  margin-top: 40px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px 49px;

  @include laptop {
    column-gap: 36px;
  }

  @include tablet-horizontal {
    column-gap: 40px;
  }

  @include tablet-vertical {
    gap: 38px 30px;
    margin-top: 28px;
  }

  @include moblie {
    gap: 0;
    margin-top: 0;
    width: 100%;
    border-top: 1px solid rgba(255, 180, 0, 0.8);
    border-bottom: 1px solid rgba(255, 180, 0, 0.8);
  }

  .flex-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .fixed-notice {
    display: none;
    img {
      background-color: #fbf5ec;
    }
  }
}
