.average-rating-box {
  display: flex;
  padding: 5px 30px;
  justify-content: space-between;
  border: 1.5px solid #ffb400;
  border-radius: 8px;
  margin-bottom: 50px;

  .star-and-rating {
    .rating-title {
      display: flex;
      align-items: center;
      h2 {
        font-size: 25px;
      }

      .rating {
        font-size: 22px;
        font-weight: 700;
        margin-top: 5px;
        margin-left: 10px;
      }
    }
    .rating-addtional-text {
      font-size: 14px;
      padding: 10px 0 25px 0;
      color: #808080;
    }
  }

  .review-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65px;
    position: relative;
    top: 32px;
  }

  .review-button button {
    width: 180px;
    height: 45.2px;
  }

  .review-button button p {
    font-weight: 400;
    font-size: 16px;
    font-family: "Noto Sans KR", sans-serif;
  }
}
