.play-review-header-container {
  margin: 20px 0 15px;
  display: flex;
  justify-content: space-between;

  .number-of-plays {
    font-weight: 700;
    font-size: 20px;
    display: flex;
    align-items: center;

    span {
      color: #ffb400;
      font-size: 20px;
    }
  }

  .sort {
    position: relative;

    button {
      margin-left: 10px;

      .MuiButton-startIcon {
        margin-right: 2px;
      }

      &.MuiButton-outlinedDarkGray:hover {
        border-color: #89898980;
      }
    }

    .MuiFormControl-root {
      height: 30px;
      margin: 0;

      .MuiInputBase-root {
        color: #898989;
        font-size: 13px;
        font-weight: 500;
        line-height: 24px;

        &.Mui-focused .MuiOutlinedInput-notchedOutline {
          border-color: rgba(137, 137, 137, 0.5019607843);
        }

        .MuiSelect-select {
          padding: 3px 9px;
          height: 24px;
        }
      }
    }
  }
}

.review-header-line {
  border-top: 1px solid #ffb400;
  border-bottom: 1px solid #ffb400;

  .header-list {
    display: flex;

    display: flex;
    width: 100%;
    list-style: none;
    padding: 5px 0;
    margin: 0;

    li {
      padding: 10px 0;
      text-align: center;
      font-weight: 300;

      &:nth-child(1) {
        flex: 1; /* 첫 번째 li 아이템 */
      }
      &:nth-child(2) {
        flex: 6; /* 두 번째 li 아이템 */
      }
      &:nth-child(3) {
        flex: 0.5; /* 세 번째 li 아이템 */
      }
      &:nth-child(4) {
        flex: 1.2; /* 네 번째 li 아이템 */
      }
    }
  }
}
