.play-review-hide {
  display: none;
}

.play-review-content-container {
  display: flex;
  justify-content: center; /* 두 컨테이너를 양쪽으로 정렬 */

  background-color: #ffffff;
  border-radius: 8px;
  border: 1px solid rgba(188, 188, 188, 0.5);
  margin: 20px 0;
  padding: 15px 30px;

  .play-review-content {
    line-height: 160%;
    margin-left: 15%;
    flex: 3; /* 전체 영역의 75%를 차지 */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    h4 {
      margin-bottom: 10px;
      font-size: 18px;
      font-weight: 600;
    }

    .content-text {
      margin-bottom: 20px;
      font-size: 16px;
    }

    .review-photos {
      display: flex;

      .play-review-photo {
        width: 250px;
        height: 250px;
        padding-top: 15px;
        padding-right: 15px;
        cursor: zoom-in;
      }
    }
  }

  .play-review-modify-container {
    flex: 1; /* 전체 영역의 25%를 차지 */
    margin-left: 5%;
    display: flex;
    align-items: center;
    justify-content: center;

    .modify-button,
    .remove-button {
      margin-bottom: 10px;
      padding: 10px 10px;
      border-radius: 4px;
      font-size: 16px;
      cursor: pointer;
    }

    .modify-button {
      font-weight: 300;
    }

    .remove-button {
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 300;
    }
  }
}
