@import "../../styles/mixin.scss";

// 공통 스타일
.play-region-selected-design {
  display: flex;
  padding: 11px;
  min-height: 20px;
  cursor: pointer;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 0;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-bottom: none;
  color: #282828;
  background-color: #ffb400;
  overflow: hidden;
}

.all-region-border {
  border-radius: 8px 0 0 8px;
}

.jeju-border {
  border-radius: 0 8px 8px 0;
}

.play-region-select-container {
  margin-bottom: 50px;
  border-radius: 8px;
  border: 1px solid #ffb400;

  .play-region-select {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    font-size: 20px;
    font-weight: 500;

    .non-selected-design {
      display: flex;
      padding: 10px;
      min-height: 20px;
      cursor: pointer;
      flex-grow: 1;
      flex-shrink: 0;
      flex-basis: 0;
      justify-content: center;
      align-items: center;
      text-align: center;
      color: #bcbcbc;
      border-right: 1px solid #ffb400;
    }

    .non-selected-design:last-child {
      border-right: 0;
    }

    span:hover {
      color: black;
    }
  }
}

// 노트북 스타일
@include laptop {
  .play-region-select {
    font-size: 16px !important;
  }
}

// 테블릿-수평 스타일
@include tablet-horizontal {
  .play-region-select {
    font-size: 16px !important;
  }
}

// 테블릿-수직 스타일
@include tablet-vertical {
  .responsive-container {
    display: flex;
    justify-content: center;
  }

  .play-region-select-container {
    width: 50%;
    border-radius: 50px;

    @media (min-width: 481px) and (max-width: 681px) {
      width: 60%;
    }

    .play-region-select {
      font-size: 16px !important;
    }

    .all-region-border {
      border-radius: 0;
    }

    .jeju-border {
      border-bottom-left-radius: 50px;
      border-bottom-right-radius: 50px;
    }

    .play-region-select-accordian {
      color: #ffb400;
      display: flex;
      align-items: center;
      padding: 5px 0 5px 45px;
      cursor: pointer;

      p {
        flex: 2 1;
        font-size: 16px;
        font-weight: 500;
        text-align: center;
      }

      .icon-wrapper {
        padding-right: 10px;
      }
    }

    .play-region-select {
      flex-direction: column;

      .play-region-selected-design {
        border-bottom: 1px solid #ffb400;
      }

      .non-selected-design {
        border-right: none;
        border-bottom: 1px solid #bcbcbc;
      }
    }

    .non-selected-design:first-child {
      border-top: 1px solid #bcbcbc;
    }

    .non-selected-design:last-child {
      border-bottom: 0;
    }
  }
}

// 모바일 스타일
@include moblie {
  .responsive-container {
    display: flex;
    justify-content: center;
  }

  .play-region-select-container {
    width: 60%;
    border-radius: 50px;

    .all-region-border {
      border-radius: 0;
    }

    .jeju-border {
      border-bottom-left-radius: 50px;
      border-bottom-right-radius: 50px;
    }

    .play-region-select-accordian {
      color: #ffb400;
      display: flex;
      padding: 5px 0 5px 50px;
      align-items: center;
      cursor: pointer;

      p {
        flex: 2 1;
        font-size: 16px;
        font-weight: 500;
        text-align: center;
      }

      .icon-wrapper {
        padding-right: 10px;
      }
    }

    .play-region-select {
      flex-direction: column;
      font-size: 16px !important;

      .play-region-selected-design {
        border-bottom: 1px solid #ffb400;
      }

      .non-selected-design {
        border-right: none;
        border-bottom: 1px solid #bcbcbc;
      }
    }

    .non-selected-design:first-child {
      border-top: 1px solid #bcbcbc;
    }

    .non-selected-design:last-child {
      border-bottom: 0;
    }
  }
}
