@import "../../../styles/mixin.scss";

.light-footer-layout::before {
  content: "";
  position: absolute;
  top: 17%;
  left: 0;
  width: 100%;
  height: 1.5px;
  background-color: rgba(187, 187, 187, 0.3);
}
.light-footer-layout {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  border-top: 1.5px solid #333;
  .footer-box {
    width: 100%;
    box-sizing: border-box;
  }
  .footer-nav {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  .footer-nav-tab1 {
    display: flex;
    align-items: center;
    height: 20px;
    width: 140px;
    font-weight: 300;
    color: rgb(40, 40, 40, 0.5);
    font-size: 16px;
    border-right: 1.5px solid rgba(187, 187, 187, 0.3);
    p {
      color: #4d4d4d;
    }
    p:hover {
      font-weight: 400;
      cursor: pointer;
    }
  }
  .footer-nav-tab2 {
    display: flex;
    align-items: center;
    height: 40px;
    width: 120px;
    font-weight: 300;
    font-size: 16px;
    p {
      color: #333;
    }
    p:hover {
      font-weight: 400;
      cursor: pointer;
    }
  }
  .footer-container {
    display: flex;
    height: 160px;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    margin-bottom: 35px;
  }
  .footer-inner-box {
    display: flex;
    flex-direction: column;
  }
  .footer-inner {
    color: #606060;
    font-weight: 300;
    margin: 4px 0;
    font-size: 14px;
  }
  .footer-span1 {
    padding-right: 6px;
  }
  .footer-span2 {
    padding-left: 6px;
  }
  .footer-comment {
    color: #333;
    font-weight: 400;
    margin-bottom: 6px;
    font-size: 14px;
  }
  .footer-text-link {
    color: rgb(30, 143, 235);
    font-weight: 500;
    text-decoration: underline;
  }
  .footer-copyright {
    margin-top: 20px;
    color: #aaaaaa;
    font-weight: 300;
    font-size: 12px;
  }
  .footer-logo-box {
    width: 40%;
    height: 96px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
  }
  .footer-share {
    color: #808080;
    font-size: large;
  }
  .footer-logo {
    width: 180px;
  }
}
@include desktop {
  .light-footer-layout {
    .footer-box {
      max-width: 1700px;
      padding: 0 200px;
    }
  }
}

@include laptop {
  .light-footer-layout {
    .footer-box {
      max-width: 1300px;
      padding: 0 100px;
    }
  }
}

@include tablet-horizontal {
  .light-footer-layout {
    .footer-box {
      max-width: 1024px;
      padding: 0 40px;
    }
  }
}

@include tablet-vertical {
  .light-footer-layout::before {
    top: 14%;
  }
  .light-footer-layout {
    .footer-box {
      max-width: 768px;
      padding: 0 40px;
    }
    .footer-nav {
      justify-content: center;
    }
    .footer-nav-tab1 {
      width: 128px;
      font-size: 14px;
      p {
        color: #aaa;
      }
    }
    .footer-nav-tab2 {
      font-size: 14px;
      p {
        color: #aaa;
      }
    }
    .footer-container {
      flex-direction: column;
      margin-bottom: 100px;
    }
    .footer-inner-box {
      align-items: center;
      margin: 28px 0;
    }
    .footer-inner {
      margin: 0;
      font-size: 12px;
      text-align: center;
    }
    .footer-span1 {
      padding-right: 0;
    }
    .footer-span2 {
      padding-left: 0;
    }
    .footer-comment {
      color: #333;
      font-weight: 400;
      margin-bottom: 6px;
      font-size: 12px;
      text-align: center;
    }
    .footer-copyright {
      margin-top: 20px;
      color: #aaa;
      font-weight: 200;
      font-size: 10px;
      text-align: center;
    }
    .footer-logo-box {
      align-items: center;
      gap: 20px;
    }
  }
}
@include moblie {
  .light-footer-layout::before {
    top: 14%;
  }
  .light-footer-layout {
    .footer-box {
      max-width: 480px;
      padding: 0 20px;
    }
    .footer-nav {
      justify-content: center;
    }
    .footer-nav-tab1 {
      width: 128px;
      font-size: 14px;
      p {
        color: #aaa;
      }
    }
    .footer-nav-tab2 {
      font-size: 14px;
      p {
        color: #aaa;
      }
    }
    .footer-container {
      flex-direction: column;
      margin-bottom: 100px;
    }
    .footer-inner-box {
      align-items: center;
      margin: 28px 0;
    }
    .footer-inner {
      margin: 0;
      font-size: 12px;
      text-align: center;
    }
    .footer-span1 {
      padding-right: 0;
    }
    .footer-span2 {
      padding-left: 0;
    }
    .footer-comment {
      color: #333;
      font-weight: 400;
      margin-bottom: 6px;
      font-size: 12px;
      text-align: center;
    }
    .footer-copyright {
      margin-top: 20px;
      color: #aaa;
      font-weight: 200;
      font-size: 10px;
      text-align: center;
    }
    .footer-logo-box {
      align-items: center;
      gap: 20px;
    }
  }
}
